$primary-color: rgba(0, 0, 0, 0.7);
$primary-size: 16px;
$primary-lineHeight: 1.5;

.containerChat {
  color: $primary-color;
  font-size: $primary-size;
  .user {
    display: flex;
    justify-content: end;
    line-height: $primary-lineHeight;
    margin-top: 25px;
    .text { 
      .time {
        margin-right: 16px;
        text-align: right;
        color:#ccc
      }    
      .message-box {
        float: right;
        .content {
          position: relative;
          right: 0;
          padding: 16px;
          background-color: #e9ecef;
          border-radius: 8px;
  
        }
        /* 创建小角内部的白色三角形 */
        ::before {
          content: "";
          position: absolute;
          top: 8px;
          right: -8px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0px 0 8px 8px;
          border-color: transparent transparent transparent #e9ecef;
        }
      }
    }
    .userInfo {
      margin-right: 20px;
    }

  }

  .robot {
    line-height: $primary-lineHeight;
    line-height: $primary-lineHeight;
    margin-top: 25px;
    .text { 
      display: flex;
      .message {
        max-width: 90%;
        .time {
          margin-left: 16px;
          color:#ccc
        }
        .message-box {
          // max-height: 600px;
          overflow: auto;
          .content {
            position: relative;
            padding: 16px;
            background-color: #e9ecef;
            border-radius: 8px;
            margin-left: 15px;
          }
          /* 创建小角内部的白色三角形 */
          ::before {
            content: "";
            position: absolute;
            top: 8px;
            left: -8px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 8px 8px;
            transform: rotate(90deg);
            border-color: transparent transparent transparent #e9ecef;
          }
        }
      }
    }
    

  }
}
/* styles.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
  
}
.lang-type {
  font-size: 20px;
  font-weight: 700;
}

/* 横向滚动条 */
.custom-code-block::-webkit-scrollbar {
  height: 8px; /* 横向滚动条的高度 */
}

.custom-code-block::-webkit-scrollbar-track {
  background: #f1f1f1; /* 滚动条轨道背景色 */
}

.custom-code-block::-webkit-scrollbar-thumb {
  background: #888; /* 滚动条拇指背景色 */
  border-radius: 4px; /* 滚动条拇指圆角 */
}

.custom-code-block::-webkit-scrollbar-thumb:hover {
  background: #555; /* 滚动条拇指悬停背景色 */
}

/* 纵向滚动条 */
.custom-code-block::-webkit-scrollbar {
  width: 8px; /* 纵向滚动条的宽度 */
}

.custom-code-block::-webkit-scrollbar-track {
  background: #f1f1f1; /* 滚动条轨道背景色 */
}

.custom-code-block::-webkit-scrollbar-thumb {
  background: #888; /* 滚动条拇指背景色 */
  border-radius: 4px; /* 滚动条拇指圆角 */
}

.custom-code-block::-webkit-scrollbar-thumb:hover {
  background: #555; /* 滚动条拇指悬停背景色 */
}