/* styles.css */
.content-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .top-content {
    width: 50%;
    height: 70%;
    align-self: center;
    margin:10px 100px;
    background-color: red;
  }
  
  .bottom-content {
    align-self: center;
    margin-bottom: 80px;
  }